@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: clamp(23px, 1vw, 40px);
}

img {
    display: block;
}

body {
    background: linear-gradient(to right,#ee0979, #ff6a00);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-container {
    padding: clamp(10px, .7vw, 25px);
    background: linear-gradient(to right, rgba(0, 0, 255, 0.719), red);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.logo img {
    width: clamp(260px, 15vw, 800px);
}

.clock {
    position: relative;
    width: clamp(420px, 30vw, 3000px);
    height: clamp(420px, 30vw, 3000px);
    background-color: rgb(255, 255, 255, .8);
    border-radius: 50%;
    border: 2px solid black;
}

.number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
}

.number1 {
    --rotation: 30deg;
}
.number2 {
    --rotation: 60deg;
}
.number3 {
    --rotation: 90deg;
}
.number4 {
    --rotation: 120deg;
}
.number5 {
    --rotation: 150deg;
}
.number6 {
    --rotation: 180deg;
}
.number7 {
    --rotation: 210deg;
}
.number8 {
    --rotation: 240deg;
}
.number9 {
    --rotation: 270deg;
}
.number10 {
    --rotation: 300deg;
}
.number11 {
    --rotation: 330deg;
}

.hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    transform-origin: bottom;
    border: 1px solid rgb(116, 112, 112);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 10;
}

.clock::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    z-index: 11;
    width: clamp(20px, 1.2vw, 50px);
    height: clamp(20px, 1.2vw, 50px);
    border-radius: 50%;
    border: 1px solid rgb(116, 112, 112);
}

.second {
    width: clamp(4px, .3vw, 7px);
    height: 45%;
    border: 1px solid rgba(255, 255, 255, 0.534);
    background-color: red;
}

.minute {
    height: 39%;
    width: clamp(9px, .6vw, 14px);
    background-color: black;
    transition: .4s ease;
}

.hour {
    height: 31%;
    width: clamp(9px, .6vw, 14px);
    background-color: black;
    transition: .4s ease;
}

@media (max-width: 520px) {
    *, *::before, *::after {
        font-size: 18px;
    }
    .clock-container {
        padding: 10px;
    }
    .logo img {
        width: 180px;
    }
    .clock {
        width: 300px;
        height: 300px;
        border: 1px solid black;
    }
    .clock::after {
        width: 15px;
        height: 15px;
    }
    .second {
        width: 3px;
    }
    .minute {
        width: 7px;
    }
    .hour {
        width: 7px;
    }
}